# lil-gui docs

{{#jsdocData}}

**{{indexname}}**

{{#children}}
- [{{indexname}}](#{{{longname}}})
{{/children}}

{{/jsdocData}}

{{#jsdocData}}

## {{indexname}}

{{{description}}}

{{#children}}

### <a name="{{{longname}}}" href="#{{{longname}}}">#</a> {{signature}}

{{{description}}}

{{#examples}}
```js
{{{.}}}
```

{{/examples}}

{{#with params}}
**Parameters**
{{#.}}
- {{name}}
{{/.}}
{{/with}}

[View source]({{{viewsource}}})

{{/children}}

{{/jsdocData}}